{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Logis Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/11.1.0/octicons.min.css">
  <!-- Vendor CSS Files -->


  <link href="{% static 'an/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'an/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'an/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'an/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'an/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'an/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">

 
 

  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}" class="active">Home</a></li>
          <li><a class="nav-link scrollto" href="#project">Projects</a></li>
          <li><a class="nav-link scrollto" href="{% url 'resume' %}">Resume</a></li>
          <a href="https://github.com/Astroweb3" class="facebook"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/kiran-kumar-643b3625a/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.instagram.com/___.kiran.______/" class="instagram"><i class="bi bi-instagram"></i></a>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Kiran Kumar.L</h1>
          <p data-aos="fade-up" data-aos-delay="100">Msc in Computer Science</p>


          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="{% static 'img/Dp1.3.png' %}" class="img-fluid animated" alt="">
          </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <span>About Me</span>
          <h2>About Me</h2>

        </div>
        
        <section id="featured-services" class="featured-services">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-school"></i></div>
                <div>
                  <h4 class="title">School</h4>
                  <p class="description">I completed schooling at MCC HR Secondary School, Chetpet in 2018, with a score of 70% in 12th grade and 66% in 10th grade. Represented the school at the Nationals in 2017 in Science Project, securing 2nd place. Possess strong problem-solving, communication, and teamwork skills.</p>
                  
                </div>
              </div>
              <!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-graduation-cap"></i></div>
                <div>
                  <h4 class="title">UG College</h4>
                  <p class="description">Dynamic B.Sc. Computer Science graduate from Patrician College of Arts and Science (2021) with a strong academic background, scoring 68%. Proven track record of success, winning prizes in robotics competitions and actively participating in hackathons. Developed a software solution for exam seating arrangement.</p>
                  
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-building-columns"></i></div>
                <div>
                  <h4 class="title">PG College</h4>
                  <p class="description">Motivated postgraduate with a specialization in MSc Computer Science from A.M. Jain College, Meenambakkam (2023) and an impressive score of 78%. Developed the innovative Annapurna mobile application for the college during postgraduate studies, showcasing strong technical skills and problem-solving abilities. </p>
                  
                </div>
              </div><!-- End Service Item -->
    
            </div>
    
          </div>
        </section><!-- End Featured Services Section -->
            <p> A highly motivated and skilled person with a strong educational background in computer science. Holding a Bachelor's and Master's degree in Computer Science, I developed expertise in Python programming language, as well as C, C++, HTML, and CSS.</p>
            <p>With a keen interest in application development. i am seeking an environment where the skills gained from education and personal experiences can be leveraged effectively. I aim to contribute to challenging projects, gain new experiences, and further expand expertise in the field.</p>

            <ul>
              
              
              <div class="row gy-8">
                <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                  <img src="{% static 'img/BC.png'%}" class="img-fluid" alt="">
                  <a href="https://youtu.be/Vf419yr5eP0" class="glightbox play-btn"></a>
                </div>
                <div class="col-lg-5 content order-last  order-lg-first">
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="fa-thin fa-grip-dots"></i>
                <div>
                  <p>I successfully completed three real-time projects that showcase practical implementation of skills. This includes creating a website for an export business, developing a Windows application for the college during the undergraduate program, and building a mobile application for the college as a final year project in the Master's program.

                  </p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="fa-thin fa-grip-dots"></i>
                <div>
                  <p>My passion for innovation and continuous learning is evident through my participation in hackathons, where i have actively contributed to team projects. Through these experiences, I gained a deep understanding of IoT technologies and has successfully implemented them in real-world projects.

                    During the second year of college, I collaborated with a college guide to create an insightful presentation video on blockchain technology.showcase their understanding of emerging technologies. <a href="https://youtu.be/Vf419yr5eP0" class="fas fa-hand-point-right"></a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'img/Dp1.png'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Technical Skills</h3>
            <p class="fst-italic">
              Experience in Product Management, web development, Software development and Software testing.
            </p>

            <div class="skills-content">
              <div class="progress">
                <span class="skill">Python<i class="val">92%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Django <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">HTML <i class="val">60%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">40%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Photoshop <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Project Section ======= -->
    <section id="project" class="services pt-0" >
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Projects</span>
          <h2>Projects</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/An1.PNG'%}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'annapurna' %}" class="stretched-link">Annapurna Administration mobile application </a></h3>
              <p>Cumque eos in qui numquam. Aut aspernatur perferendis sed atque quia voluptas quisquam repellendus temporibus itaqueofficiis odit</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/logistics-service.jpg'%}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'Exam Seater'%}" class="stretched-link">Exam Seating Software </a></h3>
              <p>Asperiores provident dolor accusamus pariatur dolore nam id audantium ut et iure incidunt molestiae dolor ipsam ducimus occaecati nisi</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/cargo-service.jpg'%}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'Jaipothyexim' %}" class="stretched-link">Portfolio Website </a></h3>
              <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'img/trucking-service.jpg'%}" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Face Lock</a></h3>
              <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
            </div>
          </div><!-- End Card Item -->

         
        </div>

      </div>
    </section><!-- End Services Section -->

   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Logis</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->


  <script src="{% static 'an/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'an/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'an/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'an/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'an/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'an/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>